* {
  margin: 0;
}
.navbar {
  background: white;
  height: 6rem;
}
.logo {
  color: red;
  font-size: 3rem;
}
.navbar ul {
  list-style: none;
  font-size: 2rem;
}
.hero {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  min-height: calc(100vh - 6rem);
}
.text-primary {
  color: red;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.hero h1 {
  font-size: 3rem;
}
.hero-btn {
  background: red;
  color: white;
  border: none;
  /* padding: 1rem; */
}
